@font-face {
    font-family: 'CursorGothic';
    /* A name you choose to use later */
    src: url('../fonts/CursorGothic_Regular-s.p.a361088d.woff2') format('woff2');
    /* Fallback formats */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* Controls font loading behavior */
}

:root {
    --main-font-color: #edecec;
    --main-background-color: #14120b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "CursorGothic";
    /* font-family:Arial, Helvetica, sans-serif; */
}

html,
body {
    width: 100%;
    height: 100%;

    background-color: #14120b;
    position: relative;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

/* header{
    width: 100%;
    } */


header {
    padding: 0 55px;
    padding-right: 55px;
    background-color: #14120b;
    width: 100vw;
    height: 52px;
    position: fixed;
}

nav {

    /* background-color: red; */
    /* border: 2px red solid; */
    /* padding: 10px; */
    margin-left: 54px;
    width: 91.8%;
    height: 52px;
    justify-content: space-between;
    align-items: center;

    background-color: var(--main-background-color);
    padding-right: 7.5px;
    color: var(--main-font-color);
}

ul {
    list-style: none;
}

nav img {
    height: 22.4px;
}

.navEle {
    justify-content: space-between;
    gap: 32px;
    font-size: 14px;
}

.navCenter {
    justify-content: center;
    align-items: center;
    margin-left: 66px;
}

.navRight {
    gap: 8px;
}

.b-SignIn {
    background-color: transparent;
    color: rgb(237, 236, 236);
    border-radius: 20px;
    border: 1px solid #edecec33;
    font-size: 14px;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
}

.b-Download {
    background-color: rgb(237, 236, 236);
    color: rgb(20, 18, 11);
    border-radius: 20px;
    border: none;
    font-size: 14px;
    padding: 4px 11px;
}

main {
    padding: 0 110px;
    /* padding-right: 55px; */
}

.hero {
    padding-top: 164px;
}

.heroText p {
    font-size: 26px;
    color: rgb(237, 236, 236);
    line-height: 32.5px;
}

.hero button {
    margin-top: 22px;
    background-color: rgb(237, 236, 236);
    border-radius: 100px;
    border: none;
    padding: 11px 23px 11px 23px;
}

.hero a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(20, 18, 11);
}

.heroText {
    margin-bottom: 60px;
}

.hero img {
    width: 100%;
}

.companies {
    margin-top: 60px;
    width: 100%;
    flex-direction: column;
    gap: 28px;
}

.companies_text {
    justify-content: center;
    align-items: center;
    font-size: 14.5px;
    color: var(--main-font-color);
    width: 100%;
}

.companies-logo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 11px;

}

.companies-logo div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.5rem;
    padding: 7.5px;
    background-color: #1b1913;
    border-radius: 4px;
    border: 1px solid #211f1a;
}

.companies-logo :nth-child(1) img {

    height: 40px;
}

.companies-logo :nth-child(2) img {
    width: 75.71px;

}

.companies-logo :nth-child(3) img {
    height: 40px;

}

.companies-logo :nth-child(4) img {
    height: 40px;

}

.companies-logo :nth-child(5) img {
    width: 101.43px;

}

.companies-logo :nth-child(6) img {
    width: 60.95px;

}

.companies-logo :nth-child(7) img {
    width: 81.88px;

}

.companies-logo :nth-child(8) img {
    width: 70.95px;

}

.functions {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.function1,
.function2,
.function3 {
    padding: 17.5px;
    color: var(--main-font-color);
    background-color: #1c1a14;
    height: 756px;
    border: 1px solid #211f1a;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    overflow: hidden;
}

.function1 :hover {
    background-color: #1d1b15;
}

.function2 :hover {
    background-color: #1d1b15;
}

.function3 :hover {
    background-color: #1d1b15;
}

.functions img {
    width: 100%;
    height: 100%;
}

.function1-text {
    grid-column-start: 1;
    grid-column-end: 9;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.functions h3 {
    font-size: 22px;
    line-height: 28.6px;
    color: rgb(237, 236, 236);
    font-weight: 400;
}

.function1-text div,
.function2-text div,
.function3-text div {
    font-size: 22px;
    line-height: 28.6px;
    color: #edecec99
}

.functions span {
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
    color: #f54e00
}

.function1-image {
    grid-column-start: 9;
    grid-column-end: -1;
    border-radius: 8px;
    overflow: hidden;
}

.function2-text {
    grid-column-start: 18;
    grid-column-end: -1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 20px;
}

.function2-image {
    grid-column-start: 1;
    grid-column-end: 18;
    border-radius: 8px;
    overflow: hidden;
}

.function3-text {
    grid-column-start: 1;
    grid-column-end: 9;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.function3-image {
    grid-column-start: 9;
    grid-column-end: -1;
    border-radius: 8px;
    overflow: hidden;
}


.responses {
    margin-top: 134px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.response-heading {
    font-size: 34.5px;
    line-height: 43.2px;
    color: var(--main-font-color);
}

.response-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    color: var(--main-font-color);
    gap: 10px;
}

.card {
    border-radius: 4px;
    padding: 17.5px;
    background-color: #1b1913;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 55px;
    border: 1px solid #211f1a;
}

.card-text {
    font-size: 16px;
    line-height: 24px;
}


.card-author {
    display: flex;
    gap: 10px;
    font-size: 14px;
    line-height: 24px;
    color: #edecec99;
}

.card-author img {
    width: 40px;
    /* height: 42px; */
    border-radius: 4px;
}


.card-author p {
    color: var(--main-font-color);
}


.examples {
    margin-top: 180px;
}

.examples-text {
    font-size: 26px;
    line-height: 32.5px;
    color: var(--main-font-color);
    margin-bottom: 20px;
}


.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.example-card {
    border-radius: 4px;
    padding: 17.5px;
    background-color: #1b1913;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    border: 1px solid #211f1a;
}

.example-card img {
    width: 100%;
    height: 390px;
    border-radius: 5px;
}

.card-text h3 {
    font-size: 16px;
    line-height: 24px;
    color: var(--main-font-color);
    font-weight: 400;
}

.card-text div {
    font-size: 16px;
    line-height: 24px;
    color: #edecec99;
    margin-bottom: 18px;
}

.card-text span {
    font-size: 16px;
    line-height: 24px;
    color: #f54e00;
}


.changelog {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
}

.changelog-text {
    font-size: 26px;
    line-height: 32.5px;
    color: var(--main-font-color);
    margin-bottom: 22px;
}

.changelog-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.changelog-card {
    border-radius: 4px;
    padding: 17.5px;
    background-color: #1b1913;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #211f1a;
    height: 100%;
}

.card-header {
    color: #edecec99;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-header span {
    border: 1px solid #edecec99;
    padding: 2px 8px;
    border-radius: 20px;
}

.changelog-card-text {
    color: var(--main-font-color);
    line-height: 24px;
}

.change-text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #f54e00;
}

.ending {
    margin-top: 135px;
    background-color: #1b1913;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    height: 510px;
    padding: 17.5px;
    border-radius: 4px;
    border: 1px solid #211f1a;
}

.ending-text {
    grid-column-start: 1;
    grid-column-end: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ending-text h3 {
    font-size: 22px;
    line-height: 28.6px;
    color: var(--main-font-color);
    font-weight: normal;
}

.ending-text span {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #f54e00;
}

.ending-image {
    grid-column-start: 9;
    grid-column-end: -1;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
}

.ending img {
    width: 100%;
}

.resentHighlights {
    margin-top: 225px;
    background-color: #1b1913;
    display: flex;
    padding: 90px 110px;
}

.research-text {
    color: var(--main-font-color);
    font-size: 16px;
    line-height: 24px;
}

.r-box {
    margin-left: 200px;
}

.researchcards {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.highlight-card {
    background-color: #201e18;
    height: 150px;
    width: 640px;
    padding: 15px;
    border: 1px solid #25231d;
    border-radius: 5px;
}

.highlight-card h3,
h4,
.date {
    font-size: 16px;
    line-height: 24px;
}

.highlight-card h3 {
    color: var(--main-font-color);
}

.highlight-card h4,
.date {
    color: #6a6d6d;
}

.h-text {
    flex-direction: column;
    justify-content: space-between;
}

.r-box span {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #f54e00;
}


.download{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 420.7px;
}

.download p{
    font-size: 72px;
    line-height: 79.2px;
    color: var(--main-font-color);
}
.download button {
    margin-top: 22px;
    background-color: rgb(237, 236, 236);
    border-radius: 100px;
    border: none;
    padding: 11px 23px 11px 23px;
    font-size: 16px;
    text-decoration: none;
    color: rgb(20, 18, 11);
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #1b1913;
    height: 470px;
    padding: 67px 0px 30px 0px;
}

footer h3{
    font-size: 14px;
    color: #edecec99;
    padding-bottom: 10px;
}
footer ul{
    font-size: 14px;
    color: var(--main-font-color);
}
footer li{
    padding-bottom: 10px;
}
.links{
    display: grid;
    grid-template-columns: repeat(5,252px);
}
.main-footer{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:0 110px;
    color: #edecec99;
}

.main-footer img{
    height: 32px;
}